/*********************************/
/************* NAVBAR ************/
/*********************************/
.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 999;
  background-color: var(--background-color1);
  font-size: .8em;
}

.navbar .nav-content {
  display: flex;
  justify-content: space-between;

  position: relative;
}

/*
.navbar .nav-social-network {

}
*/

.navbar .nav-menu {
  padding: 20px;
  margin-right: 20px;
}

.navbar .nav-menu ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  max-width: 500px;
  list-style: none;
}

.navbar .nav-menu ul>li {
  position: relative;
  padding: 0 10px;
}

.navbar .nav-menu ul a.db-line {
  text-decoration: none;
}

.navbar .nav-menu ul a.db-line:hover::before,
.navbar .nav-menu ul a.db-line:hover::after {
  opacity: 1;
}

.navbar .nav-menu ul a.db-line::before {
  top: -10px;
}

.navbar .nav-menu ul a.db-line::after {
  bottom: -10px;
}

.navbar .nav-menu ul a.db-line::before,
.navbar .nav-menu ul a.db-line::after {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #4c90ff;
  content: '';
  left: 0;
  transition: all .3s linear;
  opacity: 0;
}

@media (max-width: 780px) {
  .navbar {
    font-size: .6em;
  }

  .navbar .nav-menu {
    margin-right: 0px;
  }
}

@media (max-width: 680px) {

}

.navbar-toggle {
  position: absolute;
  /*right: 0;*/
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle span {
  background-color: #000;
}

.collapsed .top-bar {
  transform: rotate(0deg);
}

.collapsed .middle-bar {
  opacity: 1;
}

.collapsed .middle-bar {
  transform: rotate(0deg);
}