.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 999;
  background-color: var(--background-color1);
  font-size: .8em;
}

.navbar .nav-content {
  display: flex;
  justify-content: space-between;
}

/*
.navbar .nav-social-network {

}
*/

.navbar .nav-menu {
  padding: 20px;
  margin-right: 20px;
}

.navbar .nav-menu ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  max-width: 500px;
  list-style: none;
}

.navbar .nav-menu ul>li {
  position: relative;
  padding: 0 10px;
}

.navbar .nav-menu ul a.db-line:hover::before,
.navbar .nav-menu ul a.db-line:hover::after {
  opacity: 1;
}

.navbar .nav-menu ul a.db-line::before {
  top: -10px;
}

.navbar .nav-menu ul a.db-line::after {
  bottom: -10px;
}

.navbar .nav-menu ul a.db-line::before,
.navbar .nav-menu ul a.db-line::after {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #4c90ff;
  content: '';
  left: 0;
  transition: all .3s linear;
  opacity: 0;
}

/************************************************/
/************************************************/
/************************************************/
#opening_section {
  height: 100%;
  position: relative;
  background-image: url("https://www.evelinekooijman.com/img/hero_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 50px solid var(--background-color1);
}

#opening_section .row {
  height: 50%;
  width: 100%;
}

#opening_section .row .quarter {
  height: 100%;
  width: 50%;
  float: left;
  background-color: #FFF;
}

#opening_section .row .highlight {
  background-color: transparent;
}

/*****************************/
#opening_section .personal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 350px;
  width: 330px;

  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3rem;
  font-size: 1.8rem;

  background-color: var(--background-color1);
  /*-webkit-transform: translateX(-50%) translateY(-50%);*/
  transform: translateX(-50%) translateY(-50%);
}

#opening_section .personal-card .brand {
  /*background-color: #4c90ff;*/
  margin-bottom: 0.5em;
}

#opening_section .personal-card hr {
  width: 100px;
  height: 3px;
  background-color: #4c90ff;
}

/*********************************/
/******** GENERAL SECTIONS *******/
/*********************************/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

section h1 {
  font-size: 3rem;
  margin: 1.5rem auto 3rem;
  font-weight: 500;
}

/*********************************/
/************ ABOUT ***********/
/*********************************/

#about h3 {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 500;
}

#about img {
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

#about div {
  margin: 0 5rem;
}

/*********************************/
/********* SKILLS & TOOLS ********/
/*********************************/
#skills-tools .skills-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#skills-tools .skills-content>div {
  max-width: 200px;
  /*margin: 0 5rem;*/
}

#skills-tools .skills-content h5 {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
}

#skills-tools .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  margin: 2.5px;
}

/*********************************/
/*********** EXPERIENCE **********/
/*********************************/

#experience .experience-line-container {
  margin: 0 3rem;
}

#experience .experience-line-container .job-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.quadrant {
  max-width: 350px;
  min-width: 350px;
  padding: 30px 5px;
  position: relative;
}

.job-role {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}

.job-role::before {
  width: 14px;
  height: 14px;
  content: '';
  position: absolute;
  right: -8px;
  top: 52px;
  background-color: rgba(39, 38, 38, 1);
  border-radius: 50%;
  z-index: 9;
  /*-webkit-transition: all .5s ease;*/
  transition: all .5s ease;
}

.job-dates {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
}

.job-company {
  font-size: 1rem;
  margin: 1rem;
}

.job-description {
  margin: 0 1rem;
}

.right-border {
  border-right: 2px solid black;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}


/********************************/
/********************************/
/********************************/
footer {
  padding: 40px 0 50px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(39, 38, 38, 1);
}

.footer-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 750px;
}

.footer-container p {
  font-size: 0.8em;
}

.social-network-container {

}

.social-networks {  
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
  padding: 0;
}

.social-networks a {
  color: #fff;
  fill: #fff;
}

.social-networks svg {
  width:49px;
  margin: 0.5rem 1rem;
}

.section img {
  background-color: red;
  border: 1px solid black;
}