/*********************************/
/******** GENERAL SECTIONS *******/
/*********************************/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

section h1 {
  font-size: 3rem;
  margin: 1.5rem auto 3rem;
  font-weight: 500;
}


/********************************/


.right-border {
  border-right: 2px solid black;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}